In [4]:
##QUESTION 1##

In [5]:
old_dict = {21: 'FTP', 22: 'SSH', 23: 'TELNET', 80: 'HTTP'} 
  
new_dict = dict([(value, key) for key, value in old_dict.items()]) 
    

  
# Printing new dictionary after swapping keys and values 

for i in new_dict: 
    print(i, " :  ", new_dict[i])

FTP  :   21
SSH  :   22
TELNET  :   23
HTTP  :   80

In [13]:
#question 2

In [12]:
tup1=[(1,2),(3,4),(5,6)]
print(tup1[0][0]+tup1[0][1])
print(tup1[1][0]+tup1[1][1])
print(tup1[2][0]+tup1[2][1])

3
7
11

In [15]:
#QUESTION 3

In [14]:
l = [[1, 2,3],[1,2],['a','hit','less'] ] 
  
# output list 
output = [] 
  
# function used for removing nested  
# lists in python.  
def reemovNestings(l): 
    for i in l: 
        if type(i) == list: 
            reemovNestings(i) 
        else: 
            output.append(i) 
  
# Driver code 
print ('The original list: ', l) 
reemovNestings(l) 
print ('The list after removing nesting: ', output)

The original list:  [[1, 2, 3], [1, 2], ['a', 'hit', 'less']]
The list after removing nesting:  [1, 2, 3, 1, 2, 'a', 'hit', 'less']